<h1>Eventos</h1>
<hr>
<nav>
  <button (click)="irPara('home')">Home</button> |
  <button (click)="irPara('lista')">Todas as notícias</button> |
  <button (click)="irPara('cadastro')">Cadastrar</button>
</nav>
<hr>

<div *ngIf="tela == 'lista'">
  <h2>Todos os eventos</h2>
  <div id="lista-pesquisar">
    <input type="search" placeholder="Digite para pesquisar..." [(ngModel)]="listaPesquisa">
  </div>
    
    
  <table>
    <thead>      
      <tr>        
        <th scope="col">#</th>
        <th scope="col"><input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/></th>
        <th scope="col">Sigla</th>
        <th scope="col">Nome</th>
        <th scope="col">Data Inicio</th>
        <th scope="col">Data Término</th>
        <th scope="col">Prazo</th>
      </tr>
    </thead>
    <tbody ng-app="">
      <tr *ngFor="let evento of eventosParaLista()">        
        <td><input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/></td>
        <td>{{ evento.id }}</td>
        <td>{{ evento.sigla }}</td>
        <td>{{ evento.nome }}</td>
        <td>{{ evento.dataInicio }}</td>
        <td>{{ evento.dataTermino }}</td>
        <td>{{ evento.prazo }}</td>
        <td>
          <button (click)="editar(evento)">Editar</button> | 
          <button (click)="excluir(evento)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="tela == 'cadastro' || tela == 'edicao'">
  <h2>Cadastrar evento</h2>
  <form #cadastro="ngForm" (submit)="salvar(cadastro)">
    <div>
      <label for="sigla">Sigla</label>
      <input type="text" id="sigla" name="sigla" [(ngModel)]="sigla" required>
    </div>
    <div>
      <label for="nome">Nome</label>
      <input type="text" id="nome" name="nome" [(ngModel)]="nome" required>
    </div>
    <div>
      <label for="dataInicio">Data Início</label>
      <input type="datetime-local" name="dataInicio" id="dataInicio" [(ngModel)]="dataInicio">
    </div>
    <div>
      <label for="dataTermino">Data Término</label>
      <input type="datetime-local" name="dataTermino" id="dataTermino" [(ngModel)]="dataTermino">
    </div>
    <div>
      <label for="prazo">Prazo</label>
      <input type="datetime-local" name="prazo" id="prazo" [(ngModel)]="prazo">
    </div>
    <div>
      <label for="url">Url</label>
      <input type="text" id="url" name="url" [(ngModel)]="url" required>
    </div>        
    <div>
      <button type="submit" [disabled]="!cadastro.form.valid">Salvar</button>
      <button type="reset" *ngIf="tela == 'cadastro'" formnovalidate>Limpar</button>
      <button *ngIf="tela == 'edicao'" (click)="cancelarEdicao()" formnovalidate>Cancelar</button>
    </div>
  </form>
</div>